<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- BLE permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Bluetooth Low Energy requirement -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fitness"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activity.coach.CoachTraineeManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.trainee.TraineeWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.trainee.TraineeWorkoutPlanDayDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.trainee.TraineeWorkoutPlanDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MessageActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.ConnectedUsersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.WorkoutPlanEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.WorkoutPlanDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.trainee.TraineeNutritionPlanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.coach.CoachNutritionPlanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.trainee.TraineeNutritionPlanDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.trainee.TraineeNutritionPlanEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.NutritionPlanEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.NutritionPlanDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.coach.CoachWorkoutPlanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.coach.CoachTraineesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.coach.AssignWorkoutPlanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.coach.AssignNutritionPlanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.trainee.TraineeWorkoutPlanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.trainee.TraineeCoachActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.trainee.TraineeStatsActivity"
            android:exported="false" /> <!-- Splash Activity (Launcher) -->
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Fitness">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--         Login Activity -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Fitness" /> <!-- Register Activity -->
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Fitness" /> <!-- Main Activity -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Fitness" />
    </application>

</manifest>